/* Variables */

@azul: #395eaa;
@gris: #454646;
@verde: #498080;

/* Funciones */

.esquinas-redondeadas(@radio : 5px){
	border-radius:@radio;
	-webkit-border-radius:@radio;
	-moz-border-radius:@radio;
}
html, body{
	padding:0;
	margin:0;
	min-height: 100vh;
}

/*  HEADER  */
header{
	.bloqMenu{
		height: auto;
		padding: 35px 25px;
		background-color: @azul;
	}
	.toggleMenu{
		cursor:pointer;
		color: #fff;
		font-size: 4em;
	}
	.logo{
		width: 232px;
		height: 68px;
		margin: 0 auto;
		background-image: url(img/logo.png);
	}
}

.overlayed{
	background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 3;
    bottom: 0;
	right: 0;
    left: 0;
	text-align: center;
	.logo{
		margin: 0 auto;
	}
	.ovContent{
		display:none;
	}
	.loadbg{
		width: 40%;
		margin: 50px auto 0;
		height: 3px;
		background-color: #aeadb3;
	}
	.loadbar{
		height: 3px;
		background-color: @verde;
		width: 1%;
	}
}

.wrapAll {
	    min-height: 100vh;
    display: table;
    width: 200%;
    position: relative;
	left: -100%;
	transition: all .5s ease-out;
	background-color: #d8d9dd;
	&.show__menu{
		left:-25%;
	}
	.wrapMenu , .wrapContent{
		display: table-cell;
		width: 50%;
		position: relative;
	}
	.wrapMenu{
		background-color: @gris;
		color: #aeadb3;
		height: 100vh;
		.menuContent{
			position: relative;
			width: 75%;
			margin-left: 25%;
			min-height: 100%;
			font-size: 1.3em;
			ul{
				list-style: none;
				li{
					a{
						color: #aeadb3;
					}
				}
			}
		}
	}
}

.containerAll{
	overflow: hidden;
}
.container{
	padding: 0!important;
}


/*  MENU  */

.panel-title{
    font-size: 0.9em;
	img{
		margin-right: 15px;
	}
}
.panel-heading.active{
    background-color: @azul !important;
}
img.menu-logo {
    margin: 10px 27px 25px;
}

.panel-default>.panel-heading {
    color: #FFF;
    background-color: #403f3f;
    border-color: #5b5b5f;
    border-radius: 0;
	    font-size: 1.3em;
}
.panel {
    margin-bottom: 20px;
    background-color: #454646;
    border: 1px solid #57575b;
    border-color: #57575b;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin: 0 !important;
	&.ajustes{
		position:absolute;
		bottom:0;
		width: 100%;
	}
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #57575B;
}
/*  FOOTER  */
.hasFooter {
    padding-bottom: 125px;
}
.footer{
	position: absolute;
	left: 0;
	right: 0;
	z-index:20;
	bottom:0;
	.logoCont{
		position: relative;
		clear: both;
		overflow: hidden;
		height: 125px;
		transition: all .3s ease-out;
		&.show--menu{
			height: 270px;
			background-color: rgba(91, 91, 95, 0.83);
			.logoFT{
				opacity:1;
			}
			.logo1{
				margin-left: -190px;
			}
			.logo2{
				bottom: 110px;
				margin-left: -139PX;
			}
			.logo3{
				bottom: 155px;
			}
			.logo4{
			    bottom: 110px;
				margin-left: 62px;
			}
			.logo5{
				margin-left: 130px;
			}
		}
	}
	.logoF{
		position: absolute;
		left:50%;
		margin-left: -40px;
		bottom:15px;
		z-index:16;
		cursor:pointer;
	}
	.logoFT{
		position: absolute;
		left: 50%;
		bottom: 15px;
		margin-left: -39px;
		z-index:15;
		opacity:0;
		transition: all .3s ease-out;
	}
}

/* ELEMENTOS HOME */

.home--container{
	border: 30px solid #d8d9dd;
	border-left: 0;
	border-right: 0;	
	.home--element {
		border: 30px solid #d8d9dd;
		border-left: 0;
		border-right: 0;		
		background-color: #fff;
		h1{
			border-bottom: 1px solid @azul;
			padding: 0 0 25px;
			margin: 35px 0 25px;
			font-size: 2.5em;
		}
		img{
			margin: -15px 0;
			box-shadow: -5px 0px 5px rgba(0,0,0,0.5);
			-webkit-box-shadow: -5px 0px 5px rgba(0,0,0,0.5);
			-moz-box-shadow: -5px 0px 5px rgba(0,0,0,0.5);
		}
	}
}
.home--footer{
	background-color: @verde;
	text-align: center;
	color: #fff;
	font-size: 2.5em;
	padding: 60px 0;
	background-image: url(img/home--foter--bg.jpg);
    background-size: 100% 100%;
}
.home--footer--logos{
	padding: 30px 0;
	text-align: center;
	background-color: #fff;
	img{
		margin: 0 auto;
	}
}


/* ELEMENTOS MARKETING */

.mk--header{
	background-image: url(img/mk_bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	height: 264px;
	overflow: hidden;
	position: relative;
	h2{
		background-color: rgba(91, 91, 95, 0.83);
		position: absolute;
		width: 100%;
		bottom: 0;
		margin: 0;
		text-align: center;
		color: #fff;
		padding: 10px 0;
	}
	
}
.mk--element {
    background-color: #fff;
    margin: 40px;
    padding: 2px 2px 10px 140px;
    position: relative;
	min-height: 146px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	h2{
		color: @azul;
		font-weight: bold;
	}
	span {
		background-color: transparent;
		float: left;
		width: 101px;
		height: 138px;
		position: absolute;
		left: 19px;
		top: -9px;
		background-image: url(img/label.png);
		background-repeat: no-repeat;
		img{
			margin: 29px 0 0px 23px;
		}
	}
}

.mk--page, .cd--page{
	.footer{
		//background-color: rgba(91, 91, 95, 0.83);
	}
}

.cd--header{
	background-image: url(img/cer_bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	height: 264px;
	overflow: hidden;
	position: relative;
	h2{
		background-color: rgba(91, 91, 95, 0.83);
		position: absolute;
		width: 100%;
		bottom: 0;
		margin: 0;
		text-align: center;
		color: #fff;
		padding: 10px 0;
	}
}

.cd--page{
	
	.mk--element {
		h2{
			color: @verde;
		}
		span {
			background-image: url(img/label-green.png);
		}
	}
}

/* SINGLE */

.single--page{
	.details{
		>div{
			padding: 10px;
			text-align: center;
			>div{
				background-color: #f5f5f5;
				>p{
					    padding: 30px;
				}
				>div{
					background-color: @verde;
					font-size: 1.5em;
					padding: 10px 0;
					color: #fff;
				}
			}
		}
	}
	.menu{
		.like{
			background-image: url(img/like.png);
			height:54px;
			width:54px;
			display: inline-block;
			margin: 0 15px 0 0 ;
		}
		.mail{
			background-image: url(img/mail.png);
			height:54px;
			width:54px;
			display: inline-block;
		}
		.left{
		color: #fff;
		font-size: 2em;
		line-height: 98px;
			&.blue{
				background-color: @azul;
			}
			&.green{
				background-color: @verde;
			}
			height: 102px;
		}
		.right{
			background-color: #fff;
			height: 102px;
			line-height: 145px;
			text-align: right;
			&::before {
				content: "";
				width: 0;
				height: 0;
				border-top: 102px solid transparent;
				border-bottom: 0px solid transparent;
				border-right: 102px solid white;
				left: -102px;
				position: absolute;
			}
		}
	}
	.content{
		padding: 25px;
	}
	table.general {
		background-color: #F5F5F5;
		width: 100%;
		border-spacing: 23px;
		text-align: center;
		border-collapse: separate;
		>tbody > tr {
			>td{
				p{
					font-size:1.2em;
					font-weight:bold;
					margin: 15px 0 0;
					line-height: 1em;
				}
			}
			>td.arrow{
				background-image: url(img/arrow_table.png);
				background-repeat: no-repeat;
				background-position: center top;
				padding: 15px 0 0;
				p{
					
				}
				>div{
					min-height: 191px;
				}
			}
		}
	}
	table.circles {
		width: 100%;
		border-collapse: separate;
		border-spacing: 5px;
		td{
			background-image: none;
			img{
				margin:0 auto;
			}
		}
	}
}

/* EMPRESA */

.page--empresa {
    display: table;
    width: 100%;
    position: relative;
    min-height: 100vh;
	.menu-empresa {
		display: table-cell;
		width: 30%;
		background-color: #068181;
		vertical-align: top;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				cursor:pointer;
				text-align: center;
				width: 100%;
				margin: 0 auto;
				padding: 20px 0;
				position: relative;
				&.in::before {
					content: "";
					width: 0;
					height: 0;
					border-top: 25px solid transparent;
					border-bottom: 25px solid transparent;
					border-right: 25px solid #D8D9DD;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -25px;
				}
				img{
					margin: 0 auto;
					border-bottom: 1px solid #fff;
					padding-bottom: 25px;
				}
			}
		}
	}
	.content-empresa {
		padding: 10px 34px;
		vertical-align: top;
		.content{
			display:none;
			&.in{
				display:block;
			}
		}
	}
}

a, a:visited, a:link, a:hover{
	color: inherit !important;
	text-decoration: none !important;
}