html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
header .bloqMenu {
  height: auto;
  padding: 35px 25px;
  background-color: #395eaa;
}
header .toggleMenu {
  cursor: pointer;
  color: #fff;
  font-size: 4em;
}
header .logo {
  width: 232px;
  height: 68px;
  margin: 0 auto;
  background-image: url(img/logo.png);
}
.overlayed {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 3;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}
.overlayed .logo {
  margin: 0 auto;
}
.overlayed .ovContent {
  display: none;
}
.overlayed .loadbg {
  width: 40%;
  margin: 50px auto 0;
  height: 3px;
  background-color: #aeadb3;
}
.overlayed .loadbar {
  height: 3px;
  background-color: #498080;
  width: 1%;
}
.wrapAll {
  min-height: 100vh;
  display: table;
  width: 200%;
  position: relative;
  left: -100%;
  transition: all .5s ease-out;
  background-color: #d8d9dd;
}
.wrapAll.show__menu {
  left: -25%;
}
.wrapAll .wrapMenu,
.wrapAll .wrapContent {
  display: table-cell;
  width: 50%;
  position: relative;
}
.wrapAll .wrapMenu {
  background-color: #454646;
  color: #aeadb3;
  height: 100vh;
}
.wrapAll .wrapMenu .menuContent {
  position: relative;
  width: 75%;
  margin-left: 25%;
  min-height: 100%;
  font-size: 1.3em;
}
.wrapAll .wrapMenu .menuContent ul {
  list-style: none;
}
.wrapAll .wrapMenu .menuContent ul li a {
  color: #aeadb3;
}
.containerAll {
  overflow: hidden;
}
.container {
  padding: 0 !important;
}
.panel-title {
  font-size: 0.9em;
}
.panel-title img {
  margin-right: 15px;
}
.panel-heading.active {
  background-color: #395eaa !important;
}
img.menu-logo {
  margin: 10px 27px 25px;
}
.panel-default>.panel-heading {
  color: #FFF;
  background-color: #403f3f;
  border-color: #5b5b5f;
  border-radius: 0;
  font-size: 1.3em;
}
.panel {
  margin-bottom: 20px;
  background-color: #454646;
  border: 1px solid #57575b;
  border-color: #57575b;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  margin: 0 !important;
}
.panel.ajustes {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #57575B;
}
.hasFooter {
  padding-bottom: 125px;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 20;
  bottom: 0;
}
.footer .logoCont {
  position: relative;
  clear: both;
  overflow: hidden;
  height: 125px;
  transition: all .3s ease-out;
}
.footer .logoCont.show--menu {
  height: 270px;
  background-color: rgba(91,91,95,0.83);
}
.footer .logoCont.show--menu .logoFT {
  opacity: 1;
}
.footer .logoCont.show--menu .logo1 {
  margin-left: -190px;
}
.footer .logoCont.show--menu .logo2 {
  bottom: 110px;
  margin-left: -139PX;
}
.footer .logoCont.show--menu .logo3 {
  bottom: 155px;
}
.footer .logoCont.show--menu .logo4 {
  bottom: 110px;
  margin-left: 62px;
}
.footer .logoCont.show--menu .logo5 {
  margin-left: 130px;
}
.footer .logoF {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 15px;
  z-index: 16;
  cursor: pointer;
}
.footer .logoFT {
  position: absolute;
  left: 50%;
  bottom: 15px;
  margin-left: -39px;
  z-index: 15;
  opacity: 0;
  transition: all .3s ease-out;
}
.home--container {
  border: 30px solid #d8d9dd;
  border-left: 0;
  border-right: 0;
}
.home--container .home--element {
  border: 30px solid #d8d9dd;
  border-left: 0;
  border-right: 0;
  background-color: #fff;
}
.home--container .home--element h1 {
  border-bottom: 1px solid #395eaa;
  padding: 0 0 25px;
  margin: 35px 0 25px;
  font-size: 2.5em;
}
.home--container .home--element img {
  margin: -15px 0;
  box-shadow: -5px 0px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 0px 5px rgba(0,0,0,0.5);
}
.home--footer {
  background-color: #498080;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  padding: 60px 0;
  background-image: url(img/home--foter--bg.jpg);
  background-size: 100% 100%;
}
.home--footer--logos {
  padding: 30px 0;
  text-align: center;
  background-color: #fff;
}
.home--footer--logos img {
  margin: 0 auto;
}
.mk--header {
  background-image: url(img/mk_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 264px;
  overflow: hidden;
  position: relative;
}
.mk--header h2 {
  background-color: rgba(91,91,95,0.83);
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}
.mk--element {
  background-color: #fff;
  margin: 40px;
  padding: 2px 2px 10px 140px;
  position: relative;
  min-height: 146px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
.mk--element h2 {
  color: #395eaa;
  font-weight: bold;
}
.mk--element span {
  background-color: transparent;
  float: left;
  width: 101px;
  height: 138px;
  position: absolute;
  left: 19px;
  top: -9px;
  background-image: url(img/label.png);
  background-repeat: no-repeat;
}
.mk--element span img {
  margin: 29px 0 0px 23px;
}
.cd--header {
  background-image: url(img/cer_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 264px;
  overflow: hidden;
  position: relative;
}
.cd--header h2 {
  background-color: rgba(91,91,95,0.83);
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}
.cd--page .mk--element h2 {
  color: #498080;
}
.cd--page .mk--element span {
  background-image: url(img/label-green.png);
}
.single--page .details >div {
  padding: 10px;
  text-align: center;
}
.single--page .details >div >div {
  background-color: #f5f5f5;
}
.single--page .details >div >div >p {
  padding: 30px;
}
.single--page .details >div >div >div {
  background-color: #498080;
  font-size: 1.5em;
  padding: 10px 0;
  color: #fff;
}
.single--page .menu .like {
  background-image: url(img/like.png);
  height: 54px;
  width: 54px;
  display: inline-block;
  margin: 0 15px 0 0;
}
.single--page .menu .mail {
  background-image: url(img/mail.png);
  height: 54px;
  width: 54px;
  display: inline-block;
}
.single--page .menu .left {
  color: #fff;
  font-size: 2em;
  line-height: 98px;
  height: 102px;
}
.single--page .menu .left.blue {
  background-color: #395eaa;
}
.single--page .menu .left.green {
  background-color: #498080;
}
.single--page .menu .right {
  background-color: #fff;
  height: 102px;
  line-height: 145px;
  text-align: right;
}
.single--page .menu .right::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 102px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 102px solid white;
  left: -102px;
  position: absolute;
}
.single--page .content {
  padding: 25px;
}
.single--page table.general {
  background-color: #F5F5F5;
  width: 100%;
  border-spacing: 23px;
  text-align: center;
  border-collapse: separate;
}
.single--page table.general >tbody > tr >td p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 15px 0 0;
  line-height: 1em;
}
.single--page table.general >tbody > tr >td.arrow {
  background-image: url(img/arrow_table.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 15px 0 0;
}
.single--page table.general >tbody > tr >td.arrow >div {
  min-height: 191px;
}
.single--page table.circles {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}
.single--page table.circles td {
  background-image: none;
}
.single--page table.circles td img {
  margin: 0 auto;
}
.page--empresa {
  display: table;
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.page--empresa .menu-empresa {
  display: table-cell;
  width: 30%;
  background-color: #068181;
  vertical-align: top;
}
.page--empresa .menu-empresa ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page--empresa .menu-empresa ul li {
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}
.page--empresa .menu-empresa ul li.in::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #D8D9DD;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
}
.page--empresa .menu-empresa ul li img {
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
}
.page--empresa .content-empresa {
  padding: 10px 34px;
  vertical-align: top;
}
.page--empresa .content-empresa .content {
  display: none;
}
.page--empresa .content-empresa .content.in {
  display: block;
}
a,
a:visited,
a:link,
a:hover {
  color: inherit !important;
  text-decoration: none !important;
}
